/*
* z-index override to make sure the cursor is visible when different addons,
* such as matchbracket block the cursor's visiblity when settings a background
* color as I do in the Visual Studio theme.
*/
.CodeMirror-cursor
{
    z-index: 3;
}

.CodeMirror:not(.cm-s-default) .CodeMirror-scroll
{
    background-color: transparent;
}

.CodeMirror:not(.cm-s-default) .CodeMirror-activeline-background,
.CodeMirror:not(.cm-s-default) .CodeMirror-activeline .CodeMirror-gutter-elt
{
    background-color: transparent !important;
}

.CodeMirror:not(.cm-s-default) .CodeMirror-activeline-background
{
    outline: 1px solid #dddddd;
}

.CodeMirror:not(.cm-s-default) .CodeMirror-linebackground
{
    z-index: 5;
}

.CodeMirror:not(.cm-s-default) .CodeMirror-matchingtag
{
    background: transparent;/*rgba(49, 49, 49, 0.9);*/
}

.CodeMirror:not(.cm-s-default) .CodeMirror-activeline .CodeMirror-gutter-elt
{
    z-index: 5;
}


/**
* Overrides for CodeMirror themes.
*/

.CodeMirror.cm-s-the-matrix .CodeMirror-matchingtag
{
   background: rgba(0,255,0,0.3);
}
