.CodeMirror pre
{
	padding: 0 2px;
}

.CodeMirror-scroll
{
	background-color: transparent;
}

/*
* z-index override to make sure the cursor is visible when different addons,
* such as matchbracket block the cursor's visiblity when settings a background
* color as I do in the Visual Studio theme.
*/
.CodeMirror-cursor
{
	z-index: 3;
}

.CodeMirror-focused .CodeMirror-activeline-background
{
  	background: transparent !important;
}
