/*
* Dark themes
* aquaman, dracula, hammsidian, light-table, monakai-dark-soda, nando, nightlion, obsidian, pixie, ralicasts, zamiere,
* 3024-night, ambiance, base16-dark, blackboard, cobalt, erlang-dark, lesser-dark, mbo, midnight, monakai, night, paraiso-dark
* pastel-on-dark, rubyblue, the-matrix, tomorrow-night-eighties, twilight, vibrant-ink, xq-dark
*/


.CodeMirror:not(.cm-s-default) .CodeMirror-scroll {
    background-color: transparent;
}

.CodeMirror:not(.cm-s-default) .CodeMirror-activeline-background,
.CodeMirror:not(.cm-s-default) .CodeMirror-activeline .CodeMirror-gutter-elt {
    background-color: transparent !important;
}

.CodeMirror:not(.cm-s-default) .CodeMirror-activeline-background {
    outline: 1px solid rgba(255, 255, 255, 0.5);
}

.CodeMirror:not(.cm-s-default) .CodeMirror-matchingtag {
    background: transparent;
}

.CodeMirror:not(.cm-s-default) .CodeMirror-activeline .CodeMirror-gutter-elt {
    z-index: 5;
}


/**
* Overrides for CodeMirror themes.
*/

.dark div.CodeMirror-cursor ,
.dark div.CodeMirror-secondarycursor {
    border-left: 1px solid #dedede !important;
}

.dark .CodeMirror-selectedtext {
    color: black !important;
}

.dark .CodeMirror-selected {
    background-color: rgba(255, 219, 120, 0.89) !important;
}

.dark .CodeMirror-matchingtag {
    background-color: #ece47e !important;
    color: #B32F71 !important;
}
