<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Current theme:</label>
        <!-- ko foreach: settings.themes -->
        <div class="controls">
            <label class="control-label" data-bind="html: $data" style="text-align:left;"></label>
        </div>
        <!-- /ko -->
    </div>

    <div class="control-group">
        <label class="control-label">Custom scrollbars:</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.customScrollbars">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Font size:</label>
        <div class="controls">
            <input type="text" data-bind="value: settings.fontSize">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Font type:</label>
        <div class="controls">
            <input type="text" data-bind="value: settings.fontType">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Line height:</label>
        <div class="controls">
            <input type="text" data-bind="value: settings.lineHeight">
        </div>
    </div>
</form>
