<div class="brackets-themes-settings-dialog modal">
    <div class="modal-header">
        <h1 class="dialog-title">Themes Settings</h1>
    </div>
    <div class="modal-body">
        <div class="row">
            <ul class="nav nav-pills nav-stacked span2" style="max-width: 100px;">
                <li><a class="default" data-target="#generalSettings" data-toggle="tab">General</a></li>
                <li><a data-target="#pathsSettings" data-toggle="tab">Paths</a></li>
                <li><a data-target="#importSettings" data-toggle="tab">Import</a></li>
                <!--<li><a data-target="#scheduleSettings" data-toggle="tab">Schedule</a></li>-->
                <li><a data-target="#aboutSettings" data-toggle="tab">About</a></li>
            </ul>

            <div class="tab-content span6">
                <div class="tab-pane active" id="generalSettings"></div>
                <div class="tab-pane" id="pathsSettings"></div>
                <div class="tab-pane" id="importSettings"></div>
                <!--<div class="tab-pane" id="scheduleSettings"></div>-->
                <div class="tab-pane" id="aboutSettings"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" data-bind="click: $root.reset">Reset</a>
        <a class="dialog-button btn cancel" data-button-id="cancel">Cancel</a>
        <a class="dialog-button btn primary save" data-button-id="save">Ok</a>
    </div>
</div>
