@themeName: <%=name %>;

@plainTextBackground: <%= PlainText.background %>;
@plainTextColor: <%= PlainText.color %>;

@guttersBackground: <%= LineNumbers.background %>;
@guttersColor: <%= LineNumbers.color %>;

@hscrollbarBorder: #202020;
@vscrollbarBorder: #202020;
@scrollbarThumbBackground: #3c3f41;
@scrollbarHoverBackground: #dd8440;
@scrollbarActiveBackground: #4bd278;

@keywordColor: <%= Keyword.color %>;
@numberColor: <%= Number.color %>;

@variableColor: <%= PlainText.color %>;
@variable2Color: <%= PreprocessorKeyword.color %>;
@variable3Color: <%= PlainText.color %>;

@propertyColor: <%= UserTypesValueTypes.color %>;
@operatorColor: <%= Operator.color %>;

@atomColor: <%= Keyword.color %>;

@commentColor: <%= Comment.color %>;
@commentBackground: <%= Comment.background %>;

@commentHoverColor: lighten(<%= Comment.color %>, 20%);
@commentHoverBackground: darken(<%= Comment.background %>, 20%);

@stringColor: <%= String.color %>;
@string2Color: <%= StringCVerbatim.color %>;
@definitionColor: <%= UserTypes.color %>;
@metaColor: <%= XMLAttribute.color %>;
@qualifierColor: <%= CSSPropertyName.color %>;
@tagColor: <%= HTMLElementName.color %>;

@builtingColor: <%= Keyword.color %>;
@attributeColor: <%= HTMLAttribute.color %>;
@linkColor: <%= urlformat.color %>;

@selectedTextBackground: <%= SelectedText.background %>;
@selectedTextOpacity: .3;

@matchHightlightBackground: <%= BraceMatchingRectangle.background %>;
@matchHightlightColor: <%= XAMLDelimiter.color %>;

@matchingBracketColor: <%= outliningverticalrule.color %>;
@nonmatchingBracketColor: <%= outliningcollapsehintadornment.color %>;
