.cm-s-visual-studio.CodeMirror
{
	background-color: #fefefe;
	color:black;
}

.cm-s-visual-studio.CodeMirror pre
{
	line-height: 1em;
	padding: 0px;
}

.cm-s-visual-studio.CodeMirror .CodeMirror-cursor
{
	z-index: 5;
}

.cm-s-visual-studio.CodeMirror .CodeMirror-lines pre
{
	border: 2px solid transparent;
}

.cm-s-visual-studio.CodeMirror .CodeMirror-gutters
{
	background-color: #fefefe;
}

.cm-s-visual-studio.CodeMirror .CodeMirror-linenumber
{
	color: #0E97A1;
	background-color: #fefefe;
}

.cm-s-visual-studio.CodeMirror .CodeMirror-matchingbracket
{
	color: black;
	/*border: 1px #dddddd solid;*/
	background-color: #dedede;
}

.cm-s-visual-studio.CodeMirror .CodeMirror-activeline-background
{
	border: 2px solid #dddddd;
}


.cm-s-visual-studio.CodeMirror .cm-atom { color: blue; }
.cm-s-visual-studio.CodeMirror .cm-qualifier { color: brown; }

/*CodeMirror does not add notation for css...  Which would be really nice. */
/*.cm-s-visual-studio.CodeMirror .cm-property { color: red; }*/

.cm-s-visual-studio.CodeMirror .cm-keyword { color: blue; }
.cm-s-visual-studio.CodeMirror .cm-comment { color: green; }
.cm-s-visual-studio.CodeMirror .cm-string {color: brown;}
.cm-s-visual-studio.CodeMirror .cm-string-2 {color: brown;}
.cm-s-visual-studio.CodeMirror .cm-variable { color: black; }
.cm-s-visual-studio.CodeMirror .cm-variable-2 { color: black; }
.cm-s-visual-studio.CodeMirror .cm-tag { color: brown; }
.cm-s-visual-studio.CodeMirror .cm-attribute { color: red; }

